# Credenciales usadas por uis_login_p1.py
UIS_LOGIN_USER=
UIS_LOGIN_PASS=
UIS_LOGIN_URL=https://www.uis.edu.co/sistemasInformacion/login.seam?josso_back_to=https://www.uis.edu.co/sistemasInformacion/josso_security_check

# Credenciales usadas por el flujo UISARD/Alfresco
UISARD_URL=https://gestion.uis.edu.co/auth/#/auth/login
UISARD_USER=
UISARD_PASS=
ALFRESCO_SHARE_URL=https://gesdoc.uis.edu.co/share/page
ALFRESCO_SHARE_USER=
ALFRESCO_SHARE_PASS=
